extends ../layout

block body

  div.col-sm-6.col-sm-offset-3
    h1
      span.fa.fa-sign-in Login

    form(method="post", action="/login")

      p= msg

      div.form-group
        label Email
        input(type="text", class="form-control", name="email", required="true")

      div.form-group
        label Password
        input(type="password", class="form-control", name="password", required="true")

      button(type="submit").btn.btn-warning.btn-lg Login
