<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#"><span class="glyphicon glyphicon-heart"></span> Pets</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Agendamentos </a></li>
    <li><a href="#"><span class="glyphicon glyphicon-pushpin"></span> Veterinária </a></li>
    <li><a href="#"><span class="glyphicon glyphicon-usd"></span> Finanças </a></li>
    <li><a href="#"><span class="glyphicon glyphicon-transfer"></span> Estoque </a></li>
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Clientes </a></li>
    <li><a href="#"><span class="glyphicon glyphicon-stats"></span> Relatórios </a></li>
  </ul>
</div>
<div class="col-md-10">
  <h1 class="page-header">Dashboard</h1>

</div>